.header{
    color: white;
    background-color: blue;
    width: 100%;
    text-align: center;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    font-weight: 500;
}